@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Global Styles */

* {
  font-family: "Lato";
  /*background-color: #f4f3ee;*/
  scroll-behavior: smooth;
}
body {
  background-color: #f4f3ee;
}
/* NavBar */
ul {
  margin-bottom: 20px;
}

nav {
  background-color: #f4f3ee;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

nav li {
  display: inline-block;
  flex: none;
  border: transparent;
  margin-bottom: 0;
}

nav li a {
  color: #e0afa0;
  position: relative;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 0;
  text-decoration: none;
  font-weight: bold;
}

nav li a:hover {
  color: #9f7c72;
  transition: color 0.5s;
}

div.navLine {
  bottom: 0;
  border-bottom: solid 2px #e0afa0;
  margin: 0;
}

/* First section of Page */
div.opener {
  background-color: #f4f3ee;
  height: 100%;
}
div.greeting {
  color: #463f3a;
  margin-top: 30px;
  font-size: 40px;
  text-align: center;
}

div.intro {
  text-align: center;
  margin-top: 30px;
  margin-left: 400px;
  margin-right: 400px;
}

/* Skills Section */
div.skillwrapper {
  background-color: #463f3a;
}

h1 {
  margin-top: 700px;
  text-align: center;
  font-size: 40px;
  color: #f4f3ee;
}

div.language-header, div.tools-header {
  text-align: center;
  color:#f4f3ee;
  font-size: 30px;
  
}

div.skillslanguagewrapper {
  display: flex;
  justify-content: center;
}

div.logo {
 margin: 20px;
 text-align: center;
}

div.languages {
  color: #f4f3ee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

div.tools {
  color: #f4f3ee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


div.language-name, div.tool-name {
  color: #f4f3ee;
  margin-top: 10px;
}

div.languages-section,
div.tools-section {
    flex-basis: 50%;
    padding: 20px;
}

div.skills-footer{
  height: 500px;
}

