@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Global Styles */

* {
  font-family: "Lato";
  /*background-color: #f4f3ee;*/
  scroll-behavior: smooth;
}
/* Loading Bar Stuff */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {

  border-radius: 50%;
  animation: bounce 1.5s infinite alternate;
  
}

.loading-bar {
  width: 100px;
  height: 10px;
  background-color: #ccc;
  margin-top: 20px;
}

.loading-progress {
  width: 0;
  height: 100%;
  background-color: #3498db;
  transition: width 0.3s ease-in-out;
}

#start {
  display: none;
}

body {
  background-color: #f4f3ee;
  margin: 0;
}

/* NavBar */
ul {
  margin-bottom: 20px;
}

nav {
  background-color: #f4f3ee;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  
}

nav li {
  display: inline-block;
  flex: none;
  border: transparent;
  margin-bottom: 0;
}

nav li a {
  color: #e0afa0;
  position: relative;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 0;
  text-decoration: none;
  font-weight: bold;
}

nav li a:hover {
  color: #9f7c72;
  transition: color 0.5s;
}

div.navLine {
  bottom: 0;
  border-bottom: solid 2px #e0afa0;
  margin: 0;
}

/* First section of Page */
div.opener {
  background-color: #f4f3ee;
  height: 100vh;
}
div.greeting {
  color: #463f3a;
  margin-top: 30px;
  font-size: 60px;
  text-align: center;
}

div.intro {
  text-align: center;
  margin: 15px 25% 0 25%;
  font-size: 35px;
}

.headshot {
  margin: 25px 0 0 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.headshot img {
  border: solid #e0afa0 5px;
  border-radius: 10px;
  width: 100%;
  height: auto;
  display: flex;
  width: 400px;
}
/* Skills Section */
div.skillwrapper {
  background-color: #f4f3ee;
  left: 0;
  right: 0;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: #463f3a;
}

div.language-header, div.tools-header {
  text-align: center;
  color:#463f3a;
  font-size: 30px;
}

div.skillslanguagewrapper {
  display: flex;
  justify-content: center;
}

div.logo {
 margin: 20px;
 text-align: center;
}

div.languages {
  color: #f4f3ee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

div.language-info {
  color:#463f3a;
  text-align: center;
}

div.tools {
  color: #f4f3ee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


div.language-name, div.tool-name {
  color: #463f3a;
  margin-top: 10px;
}

div.languages-section,
div.tools-section {
    flex-basis: 50%;
    padding: 20px;
}

div.tools-info {
  color:#463f3a;
  text-align: center;
}

/* About Section */

div.aboutwrapper {
  background-color: #463f3a;
  left: 0;
  right: 0;
  height: 150vh;
}

div.about-info {
  color: #f4f3ee;
  text-align: center;
  margin: 0px 25% 0 25%;
  font-size: 30px;
}

h2 {
  padding-top: 25px;
  text-align: center;
  color:#f4f3ee;
  font-size: 40px;
}


/* Commenting out sage for now lmao
div.sage-image{
  margin-top: 20px;
  justify-content: center;
  display: flex;
}


img.sage {
  border-radius: 10%;
  height: 250px;
  margin-bottom: 100px;
}
*/ 


/* Projects Section */

div.projects-wrapper {
  background-color: #463f3a;
  left: 0;
  right: 0;
  height: 100vh;
}

div.projects-header {
  text-align: center;
  color: #f4f3ee;
  font-size: 30px;
}

div.projects-header a {
  text-align: center;
  color: #f4f3ee;
  font-size: 30px;
  text-decoration: none;
}

div.projects-header a:hover {
  text-align: center;
  color: #d4cfb7;
  font-size: 30px;
  text-decoration: none;
  transition: color 0.5s;
}

div.tejp-info {
  position: relative;
  text-align: center;
  color: #f4f3ee;
  font-size: 20px;
  margin: 15px 25% 0 25%;
}

.tejp-image-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tejp-image-wrapper a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.tejp-image-wrapper img {
  border: solid #e0afa0 5px;
  width: 100%;
  height: auto;
  object-fit: contain;
  display: flex;
  
}

/* INTERESTS SECTION */
div.interests-wrapper {
  background-color: #f4f3ee;
  left: 0;
  right: 0;
  height: 100vh;
}

div.colorguard-header {
  text-align: center;
  color: #463f3a;
  font-size: 30px;
}

div.colorguard-info {
  position: relative;
  text-align: center;
  color: #463f3a;
  font-size: 20px;
  margin: 15px 25% 0 25%;
}


div.colorguard-info a {
  position: relative;
  text-align: center;
  color: #463f3a;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 15px;
  text-decoration: none;
}


div.colorguard-info a:hover {
  position: relative;
  text-align: center;
  color: #e0afa0;
  transition: color 0.5s;
  font-size: 20px;
  margin-top: 15px;
  text-decoration: none;
}

div.colorguard-embed {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.music-header {
  margin-top: 25px;
  text-align: center;
  color: #463f3a;
  font-size: 30px;
}

div.music-info {
  position: relative;
  text-align: center;
  color: #463f3a;
  font-size: 20px;
  margin: 15px 25% 0 25%;
}

div.music-info a {
  position: relative;
  text-align: center;
  color: #463f3a;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 15px;
  text-decoration: none;
}


div.music-info a:hover {
  position: relative;
  text-align: center;
  color: #e0afa0;
  transition: color 0.5s;
  font-size: 20px;
  margin-top: 15px;
  text-decoration: none;
}
div.trumpet-wrapper {
  margin-top: 20px;
  justify-content: center;
  display: flex;
}

div.trumpet-wrapper img {
  width: 330px;
  height: 500px;
  border-radius: 10px;
  border: solid #e0afa0 5px;
}

/* FOOTER */

div.footer-wrapper {
  background-color: #463f3a;
  margin-top: 20px;
  height: 75px;
  left: 0;
  right: 0;
  display:flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper a {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 0 20px;

}

.footer-wrapper img {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  height: auto;
  object-fit: contain;
  display: flex;
  text-align: center;

}

.footer-wrapper img:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 30px;
  height: 30px;
  height: auto;
  object-fit: contain;
  display: flex;
  transform: translateY(-30%);
}

/* Mobile Formatting */

@media only screen and (max-width: 767px) {

  /* NavBar */
  
  ul {
    margin-bottom: 20px;
    margin-left: -25px;
  }

  nav {
    background-color: #f4f3ee;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    
  }

  nav li {
    display: inline-block;
    flex: none;
    border: transparent;
    margin: 0;
  }

  nav li a {
    color: #e0afa0;
    position: relative;
    font-size: 9px;
    margin-bottom: 0;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
  }

  nav li a:hover {
    color: #9f7c72;
    transition: color 0.5s;
  }

  div.navLine {
    bottom: 0;
    border-bottom: solid 2px #e0afa0;
    margin: 0;
  }


  /* First section of Page */
  
  div.opener {
    background-color: #f4f3ee;
    height: 100vh;
  }
  div.greeting {
    color: #463f3a;
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
  }

  div.intro {
    text-align: center;
    margin: 15px 5% 0 5%;
    font-size: 15px;
  }

  .headshot {
    margin: 25px 0 0 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .headshot img {
    border: solid #e0afa0 5px;
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: flex;
    width: 80%;
  }

  /* About Section */

  div.aboutwrapper {
    background-color: #463f3a;
    left: 0;
    right: 0;
    height: 100vh;
  }

  div.about-info {
    color: #f4f3ee;
    text-align: center;
    margin: 0px 5% 0 5%;
    font-size: 15px;
  }

  h2 {
    padding-top: 25px;
    text-align: center;
    color:#f4f3ee;
    font-size: 40px;
  }

  /* Skills Section */
  div.skillwrapper {
    background-color: #f4f3ee;
    left: 0;
    right: 0;
    height: 100vh;
  }

  h1 {
    text-align: center;
    font-size: 40px;
    color: #463f3a;
  }

  div.language-header, div.tools-header {
    text-align: center;
    color:#463f3a;
    font-size: 20px;
  }

  div.skillslanguagewrapper {
    display: flex;
    justify-content: center;
  }

  div.logo {
  margin: 20px;
  text-align: center;
  }

  .logo img {
    width: 20px;
    height: 20px;
  }

  div.languages {
    color: #f4f3ee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  div.language-info, div.tools-info {
    color:#463f3a;
    text-align: center;
    font-size: 12px;
  }

  div.tools {
    color: #f4f3ee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }


  div.language-name, div.tool-name {
    color: #463f3a;
    font-size: 12px;
   
  }

  div.languages-section,
  div.tools-section {
      flex-basis: 50%;
      padding: 20px;
  }
  /* Projects Section */

  div.projects-wrapper {
    background-color: #463f3a;
    left: 0;
    right: 0;
    height: 100vh;
  }

  div.projects-header {
    text-align: center;
    color: #f4f3ee;
    font-size: 30px;
  }

  div.projects-header a {
    text-align: center;
    color: #f4f3ee;
    font-size: 30px;
    text-decoration: none;
  }

  div.projects-header a:hover {
    text-align: center;
    color: #d4cfb7;
    font-size: 30px;
    text-decoration: none;
    transition: color 0.5s;
  }

  div.tejp-info {
    position: relative;
    text-align: center;
    color: #f4f3ee;
    font-size: 15px;
    margin: 15px 5% 0 5%;
  }

  .tejp-image-wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tejp-image-wrapper a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
  }

  .tejp-image-wrapper img {
    border: solid #e0afa0 5px;
    width: 100%;
    height: auto;
    object-fit: contain;
    display: flex;
    
  }
  /* INTERESTS SECTION */
  div.interests-wrapper {
    background-color: #f4f3ee;
    left: 0;
    right: 0;
    height: 100vh;
  }

  div.colorguard-header {
    text-align: center;
    color: #463f3a;
    font-size: 30px;
  }

  div.colorguard-info {
    position: relative;
    text-align: center;
    color: #463f3a;
    font-size: 20px;
    margin: 15px 5% 0 5%;
  }


  div.colorguard-info a {
    position: relative;
    text-align: center;
    color: #463f3a;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 15px;
    text-decoration: none;
  }


  div.colorguard-info a:hover {
    position: relative;
    text-align: center;
    color: #e0afa0;
    transition: color 0.5s;
    font-size: 20px;
    margin-top: 15px;
    text-decoration: none;
  }

  div.colorguard-embed {
    display: flex;
    margin: 30px 5% 0px 5%;
    align-items: center;
    justify-content: center;
  }

  div.music-header {
    margin-top: 25px;
    text-align: center;
    color: #463f3a;
    font-size: 30px;
  }

  div.music-info {
    position: relative;
    text-align: center;
    color: #463f3a;
    font-size: 20px;
    margin: 15px 5% 0 5%;
  }

  div.music-info a {
    position: relative;
    text-align: center;
    color: #463f3a;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 15px;
    text-decoration: none;
  }


  div.music-info a:hover {
    position: relative;
    text-align: center;
    color: #e0afa0;
    transition: color 0.5s;
    font-size: 20px;
    margin-top: 15px;
    text-decoration: none;
  }
  div.trumpet-wrapper {
    margin-top: 20px;
    justify-content: center;
    display: flex;
  }

  div.trumpet-wrapper img {
    width: 330px;
    height: 500px;
    border-radius: 10px;
    border: solid #e0afa0 5px;
  }

  /* FOOTER */

  div.footer-wrapper {
    background-color: #463f3a;
    margin-top: 20px;
    height: 75px;
    left: 0;
    right: 0;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .footer-wrapper a {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 0 20px;

  }

  .footer-wrapper img {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    height: auto;
    object-fit: contain;
    display: flex;
    text-align: center;

  }

  .footer-wrapper img:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 30px;
    height: 30px;
    height: auto;
    object-fit: contain;
    display: flex;
    transform: translateY(-30%);
  }

}

/* KEYFRAMES */

@keyframes bounce {

  0%, 100% {
    transform: translateY(0);

  }
  50% {
    transform: translateY(-20px);
  }
}